body {
  margin: 0;
  min-width: 250px;
}


/* Include the padding and border in an element's total width and height */

* {
  box-sizing: border-box;
}


/* Remove margins and padding from the list */

ul {
  margin: 0;
  padding: 0;
}


/* Style the list items */

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Darker background-color on hover */

ul li:hover {
  background: #ddd;
}


/* When clicked on, add a background color and strike out text */

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
  list-style: none !important;
}


/* Add a "checked" mark when clicked on */

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


/* Style the close button */

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


/* Style the header */

.header {
  border: 1px solid rgba(51,51,51,.1);
  padding: 30px 40px;
  color: white;
  text-align: center;
}


/* Clear floats after the header */

.header:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the input */

input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
      border-bottom: 1px solid rgba(51,51,51,.1);
}


/* Style the "Add" button */

.functbtn {
  padding: 10px;
  width: 25%;
  background: rgba(51,51,51,.1);
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.functbtn:hover {
  background-color: #bbb;
}


/*mystyle*/

.grid-calendar-module {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3% 3% 0;
}

.grid-child {
  flex-basis: 50%;
      position: relative;
}

.calenda-box {
  display: flex;
}

.left-calenda-box {
  min-width: 15%;
}

#month-year {
  list-style: none;
  height: 100%;
}

#month-year li {
  padding: 0;
  text-align: center;
  background: #ffffff;
}

#dis-date {
  font-size: 4em;
  margin: 0 auto;
}

#dis-month {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

ul#month-year p {
  margin: 0;
}

.right-calenda-box {
  padding-top: 4.5%;
  box-sizing: border-box;
}
#dis-day {
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    top: 25%;
    margin: 0;
    right: 0;
}
#myUL {
  list-style: none;
max-height: 50vh;
overflow: auto;
}
li.todoitem {
    border: 1px solid rgba(51,51,51,.1);
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.box-fixed {
    display: flex;
    justify-content: space-between;
}
.box-fixed span {
    font-size: 2em;
}

.visible{
  display: block;
}
.hidden{
  display: none;
}

/*icons*/
.fa {
    background-color: rgba(51,51,51,.1);
    padding: 20px;
    border-radius: 50%;
}
.fa:hover {
    background-color: rgba(51,51,51, 1);
      cursor: pointer;
}
/*search*/
#item-search-box #userSearch {
   width: 100%;
}

/*grid view*/
.show-grid-view{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.show-grid-view li{
  flex: 1 1 33%;
}
